version: '3.8'

services:
  db:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin  
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: databaserealworld
    volumes:
      - db_data:/var/lib/postgresql/data
  api:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://admin:adminpassword@db:5432/databaserealworld"
      # --- VARIABLES NUEVAS ---
      JWT_SECRET: "un_secreto_muy_seguro_123"
      NODE_ENV: "development"   

volumes:
  db_data: